.form {
	position: absolute;
	top: 49.9%;
	right: 50%;
	transform: translate(134%);
	width: 328px;

	@include viewport(1190px) {
		top: 34.9%
	}

	@include viewport($viewport--lg) {
		display: block;
		position: static;
		transform: translate(0);
		margin: 64px auto 0 auto;
		width: 323px;
	}

	@include viewport($viewport--md) {
		width: 320px;
		padding: 0 16px;
	}
}

.form__title {
	color: $color-default-white;
	font-size: 1.7rem;
	font-weight: 600;
	letter-spacing: -0.025em;
	text-align: center;
	margin-bottom: 22px;

	@include viewport($viewport--lg) {
		font-size: 1.8rem;
		color: $color-default-black;
		margin-bottom: 31px;
	}

	@include viewport($viewport--md) {
		margin-bottom: 23px;
	}
}

.form input,
.form button[type="submit"] {
	border: none;
	width: 100%;
	border-radius: 4px;

	@include viewport($viewport--lg) {
		border-radius: 6px;
	}
}

.form input {
	height: 48px;
	margin-bottom: 20px;
	padding: 0 30px;

	&::placeholder {
		font-size: 1.5rem;
		color: $color-placeholder;
		letter-spacing: 0.03em;
	}

	@include viewport($viewport--lg) {
		border: 1px solid $color-bd-input;
		padding-left: 21px;
	}

	@include viewport($viewport--md) {
		padding-left: 25px;
	}
}

.form button[type="submit"] {
	@include font(1.5, 600, 1.4);
	color: $color-default-black;
	letter-spacing: -0.02em;
	height: 51px;
}
