.about-us {
  max-width: 1440px;
  margin: 150px auto 0 auto;
  letter-spacing: -0.04em;

  @media (max-width: $viewport--lg) {
    margin-top: 70px;
  }
}

.about-us__title {
  font-size: 30px;
  font-weight: 600;
  line-height: 1;
  text-align: center;
  margin-left: 17px;
  margin-bottom: 48px;

  @media (max-width: $viewport--lg) {
    font-size: 24px;
    line-height: 1.7;
    margin-left: 0;
    margin-bottom: 29px;
  }
}

.about-us__list {
  display: flex;
  width: 100%;
  max-width: 1248px;
  padding: 0 30px;
  flex-wrap: wrap;
  justify-content: space-around;
  margin: auto;

  @media (max-width: $viewport--lg) {
    max-width: 638px;
  }

  @media (max-width: $viewport--md) {
    max-width: 320px;
  }
}

.about-us__item {
  text-align: center;
  display: flex;
  flex-direction: column;
  width: 263px;

  &:not(:first-child) {
    margin-left: 20px;
  }

  @media (max-width: $viewport--lg) {
    &:nth-child(n + 3) {
      margin-top: 19px;
    }

    &:not(:first-child) {
      margin-left: 0;
    }
  }

  @media (max-width: $viewport--md) {
    &:not(:first-child) {
      margin-top: 32px;
    }

    &:nth-child(3) {
      margin-top: 57px;
    }

    &:nth-child(4) {
      margin-top: 60px;
    }
  }
}

.about-us__count {
  font-size: 28px;
  font-weight: 600;
  line-height: 1.4;
  color: $color-accent;
}

.about-us__content {
  margin-top: 16px;
  font-size: 22px;
  letter-spacing: -0.5px;
  color: $color-default-black;

  @media (max-width: $viewport--md) {
    font-size: 18px;
    line-height: 1.87;
    margin-top: 15px;
    margin-bottom: 0;
  }
}

.about-us__content--margin {
  @media (max-width: $viewport--md) {
    margin-top: 10px;
  }
}

.about-us__content--margin2 {
  @media (max-width: $viewport--md) {
    margin-top: 6px;
  }
}
