.intro {
  display: flex;
  margin: auto;
  background-color: $color-default-black;
  background-image: url("../img/desktop/main-bg@1x.jpg");
  background-repeat: no-repeat;
  background-size: cover;

  @include retina {
    background-image: url("../img/desktop/main-bg@2x.jpg");
  }

  @media (max-width: $viewport--lg) {
    background: none;
  }
}

.intro__height {
  padding-bottom: 57.29%;  // соотношение высоты к ширине bg

  @media (max-width: $viewport--lg) {
    display: none;
  }
}

.intro__wrap {
  width: 100%;
}
