.modal {
  position: fixed;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
  background-color: $color-overlay;
  transform: scale(1.2);
  visibility: hidden;
  opacity: 0;
  pointer-events: none;
  transition: $default-transition ease-in;

  &--active {
    transform: scale(1);
    visibility: visible;
    opacity: 1;
    pointer-events: auto;
  }
}

.modal--invisible {
  display: block;
  opacity: 1;
}

.modal__wrap {
  position: absolute;
  bottom: 50%;
  right: 50%;
  padding: 80px 47px;
  transform: translate(50%, 50%);
  width: 480px;
  height: 450px;
  text-align: center;
  box-shadow: 0 3px 12px rgba(0, 0, 0, 0.3);
  border-radius: 8px;
  background-color: $color-default-white;
}

.modal__title {
  margin-bottom: 18px;
  letter-spacing: -0.05rem;
}

.modal__content {
  padding: 0 30px;
  margin-bottom: 33px;
}

.modal__close {
  width: 100px;
  height: 60px;
  padding: 0;
  font-size: 16px;
  background-color: $color-accent;
  border: none;
  border-radius: 10px;
  cursor: pointer;
}


@media (max-width: $viewport--md) {
  .modal__wrap {
    padding: 50px 0 0 0;
    width: 320px;
    text-align: center;
  }

  .modal__title {
    margin-top: 30px;
    margin-bottom: 25px;
  }
}
