.nav {
	position: relative;
	padding: 25px 30px 0 30px;
	@media (max-width: $viewport--lg) {
		padding: 0;
	}
}

.nav__list {
	display: flex;
	flex-wrap: wrap;
	width: 873px;
	padding: 0 23px 11px 17px;
	margin: 0 auto;
	justify-content: space-between;
	list-style: none;
	border-bottom: 2px solid rgba(255, 255, 255, 0.2);

	@media (max-width: $viewport--lg) {
		position: absolute;
		top: 0;
		right: 0;
		width: 320px;
		margin: 0;
		padding: 57px 16px 50px 16px;
		background-color: $color-default-white;
		z-index: 4;
	}

	@media (max-width: $viewport--md) {
		position: static;
		margin: auto;
		width: 320px;
	}
}

.nav__link {
	display: block;
	position: relative;
	text-decoration: none;
	font-weight: 300;
	color: $color-white-alfa;
	word-break: break-word;
	transition: color $default-transition;

	&:hover {
		color: $color-accent;
	}

	@media (max-width: $viewport--lg) {
		margin-top: 60px;
		font-size: 20px;
		line-height: 1.4;
		letter-spacing: 0.02em;
		color: $color-font;
		padding-right: 30px;

		&::after {
			content: '';
			position: absolute;
			top: 6px;
			right: 10px;
			width: 10px;
			height: 10px;
			border-right: 2px solid $color-arrow;
			border-bottom: 2px solid $color-arrow;
			transform: rotate(-45deg);
		}
	}
}

.nav__link--margin {
	@media (max-width: $viewport--md) {
		margin-top: 63px;
	}
}

.nav__toggle {
	display: none;
	position: absolute;
	top: 0;
	right: 0;
	width: 50px;
	height: 50px;
	background-color: $color-accent;
	border: 0;
}

.nav__burger {
	position: absolute;
	top: 50%;
	right: 50%;
	margin-right: -11px;
	width: 22px;
	height: 1px;
	background-color: $color-default-black;
	transition: $default-transition;

	&::before,
	&::after {
		content: "";
		position: absolute;
		top: -7px;
		right: 0;
		width: 22px;
		height: 100%;
		background-color: inherit;
		transition: $default-transition;
	}

	&::after {
		top: 7px;
	}
}

.js-enable {

	@media (max-width: $viewport--lg) {

		 .nav__toggle {
			display: block;
			position: absolute;
			top: 0;
			right: 0;
			z-index: 5;
		}

		 .nav__list {
			display: none;
		}
	}
}

.nav--menu-active {

	 .nav__toggle {
		background-color: transparent;
	}
	// Меняет бургер на крестик
	 .nav__burger {
		width: 0;
		background-color: $color-close;
	}

	 .nav__burger::before {
		transform: translateY(7px) rotate(-45deg);
	}

	 .nav__burger::after {
		transform: translateY(-7px) rotate(45deg);
	}

	 .nav__list {
		display: block;

		 @media (max-width: $viewport--md) {
				 position: absolute;
		 }
	}
}
