.offer {
	position: relative;
	max-width: 1440px;
	margin: auto;


	&::before {
	  content: '';
	  position: absolute;
	  top: 0;
		right: 0;
		bottom: 0;
	  left: 0;
		background-image: url("../img/desktop/main-bg@1x.jpg");
		background-repeat: no-repeat;
		background-size: 100% auto;
		z-index: -1;

		@include viewport($viewport--lg) {
			background-image: url("../img/tablet/main-bg@1x.jpg");
		}
		@include viewport($viewport--md) {
			background-image: url("../img/mobile/main-bg@1x.jpg");
		}
	}
}

.offer__wrap {
	display: flex;
	justify-content: space-between;
	max-width: 878px;
	margin: 0 auto;
	padding-top: 22%;
	padding-bottom: 15.6%;
	outline: 1px dashed tomato;

	@include viewport($viewport--lg) {
		flex-direction: column;
		align-items: center;
		padding-top: 0;
		padding-bottom: 0;
		max-width: 100%;
	}
}

.offer__adv {
	width: 350px;
	color: $color-default-white;

	@include viewport($viewport--lg) {
		width: 100%;
	}
}

.offer__logo {
	@include viewport($viewport--lg) {
		margin: 25px 0 0 21px;
	}

	@include viewport($viewport--md) {
		margin: 25px 0 0 18px;
	}
}

.offer__title {
	@include font(4.6, 600, 1.4);
	margin: 24px 0 24px 0;

	@include viewport($viewport--lg) {
		width: 404px;
		margin: 10.7% auto 20px auto;
		font-size: 3rem;
		line-height: 1.4;
	}

	@include viewport($viewport--md) {
		text-align: center;
		width: 288px;
		margin: 68px auto 20px auto;
	}
}

.offer__content {
	@include font(2, 300, 1.6);
	color: $color-default-white;

	@include viewport($viewport--lg) {
		width: 400px;
		margin: auto;
		font-size: 1.8rem;
		line-height: 1.8;
		text-align: center;
	}

	@include viewport($viewport--md) {
		width: 288px;
	}
}
