*,
*::before,
*::after {
  box-sizing: inherit;
}

html {
  box-sizing: border-box;
  font-size: 62.5%;
}

body {
  font-family: "#{$font-default}", "Arial", sans-serif;
  font-size: $font-size;
  font-weight: $font-weight;
  line-height: $line-height;
  min-width: 320px;
  margin: 0;
	//background-color: black;
  //color: $black;
}

button {
	display: block;
	background-color: $color-accent;
	border: 0;
}

ul {
	padding: 0;
	margin: 0;
	list-style: none;
}

.body-lock {
  overflow-y: scroll;
  position:fixed;
}


.visually-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;
  white-space: nowrap;
  clip-path: inset(100%);
  clip: rect(0 0 0 0);
  overflow: hidden;
}

.container {
  max-width: $viewport--xl;
  margin: 0 auto;
}




