@mixin resetList {
  padding: 0;
  margin: 0;
  list-style: none;
}

@mixin font($fs, $fw, $lh, $ff: $font) {
	font-size: if($fs == _, $font-size, $fs * 1rem);
	font-weight: if($fw == _, $font-weight, $fw);
	line-height: if($lh == _, $line-height, $lh);
	font-family: "#{$ff}", "Arial", sans-serif;
}

@mixin retina {
  @media (min-resolution: $retina-dpi), (min-resolution: $retina-dppx) {
    @content;
  }
}

@mixin viewport-to-lg {
  @media (max-width: $viewport--lg - 1) {
    @content;
  }
}

