$font: "Georgia";
$font-size: 1.5rem;
$line-height: 1.5;
$font-weight: 400;


$viewport--sm:                      320px;
$viewport--md:                      768px;
$viewport--lg:                      1024px;
$viewport--xl:                      1440px;
$viewport--xxl:                     1920px;

$color-default-black:             #000000;
$color-default-white:             #ffffff;

$color-black:                     #0e0e0e;
$color-white:                     #f2f2f2;
$color-blue:                      #2c39f2;
$color-font:                      #5a5858;

$retina-dppx: 1.5dppx;
$retina-dpi: 144dpi;