*,
*::before,
*::after {
  box-sizing: inherit;
}

html {
  box-sizing: border-box;
}

body {
  font-family: $font-default;
  font-size: 16px;
  font-weight: 400;
  line-height: 1.5;
  min-width: 320px;
  margin: 0;
}

.body-lock {
  width: 100%;
  position: fixed;
  overflow-y: scroll;
}

.visually-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;
  white-space: nowrap;
  clip-path: inset(100%);
  clip: rect(0 0 0 0);
  overflow: hidden;
}

.container {
  max-width: $viewport--xl;
  margin: 0 auto;
}

.pulse {
  position: absolute;
  display: block;
  background-color: aqua;
  border-radius: 50%;
  animation: pulse 0.9s ease-out;
  transform: scale(0);
}
@keyframes pulse {
  to {
    transform: scale(2);
    background-color: $color-default-white;
    opacity: 0;
  }
}

.js-focus-visible :focus:not(.focus-visible) {
  outline: none;
}
