<section id="about" class="about-us">
  <h2>Несколько фактов о нас</h2>
  <ul class="about-us__list">
    <li class="about-us__item">
      <span>01</span>
      <p>Самый широкий выбор велосипедов!</p>
    </li>
    <li class="about-us__item about-us__item--margin">
      <span>02</span>
      <p>Доставка велосипедов по всей России!</p>
    </li>
    <li class="about-us__item about-us__item--margin2 about-us__item--three">
      <span>03</span>
      <p>Большой выбор крутых аксессуаров!</p>
    </li>
    <li class="about-us__item about-us__item--margin2 about-us__item--four">
      <span>04</span>
      <p>Профессиональные консультации!</p>
    </li>
  </ul>
</section>
