<section id="about" class="about-us">
  <h2 class="about-us__title">Несколько фактов о нас</h2>
  <ul class="about-us__list">
    <li class="about-us__item">
      <span class="about-us__count">01</span>
      <p class="about-us__content">Самый широкий выбор велосипедов!</p>
    </li>
    <li class="about-us__item">
      <span class="about-us__count ">02</span>
      <p class="about-us__content about-us__content--margin">Доставка велосипедов по всей России!</p>
    </li>
    <li class="about-us__item">
      <span class="about-us__count about-us__count--three">03</span>
      <p class="about-us__content about-us__content--margin2">Большой выбор крутых аксессуаров!</p>
    </li>
    <li class="about-us__item">
      <span class="about-us__count about-us__count--four">04</span>
      <p class="about-us__content about-us__content--margin2">Профессиональные консультации!</p>
    </li>
  </ul>
</section>
