<section id="variety" class="variety">
  <h2 class="variety__title">Виды велосипедов</h2>
  <ul class="variety__list">
    <li>
      <a href="#">
        <figure>
          <img src="img/desktop/bike1@1x.jpg" width="342" height="503" alt="Дорожный велосипед">
          <figcaption>
            Дорожный велосипед
          </figcaption>
        </figure>
      </a>
    </li>
    <li>
      <a href="#">
        <figure>
          <img src="img/desktop/bike2@1x.jpg" width="342" height="566" alt="Горный велосипед">
          <figcaption>
            Горный велосипед
          </figcaption>
        </figure>
      </a>
    </li>
    <li>
      <a href="#">
        <figure>
          <img src="img/desktop/bike3@1x.jpg" width="342" height="513" alt="Детский велосипед">
          <figcaption>
            Детский велосипед
          </figcaption>
        </figure>
      </a>
    </li>
  </ul>
</section>
