.header__bg {
	width: 100%;
	height: auto;
}

.header__adv {
	position: absolute;
	width: 350px;
	top: 51.4%;
	left: 50%;
	transform: translate(-126%);
	color: $color-default-white;

	@include viewport(1190px) {
		top: 36.4%
	}

	@media (max-width: $viewport--lg) {
		top: 0;
		bottom: 0;
		left: 0;
		right: 0;
		width: auto;
		transform: translate(0);
	}
}

.header__logo {
	@media (max-width: $viewport--lg) {
		margin: 25px 0 0 21px;
	}

	@media (max-width: $viewport--md) {
		margin: 25px 0 0 18px;
	}
}

.header__title {
	font-size: 46px;
	font-weight: 600;
	line-height: 1.4;
	margin: 24px 0 24px 0;

	@media (max-width: $viewport--lg) {
		width: 404px;
		margin: 82px auto 20px auto;
		font-size: 3rem;
		line-height: 1.4;
	}

	@media (max-width: $viewport--md) {
		text-align: center;
		width: 288px;
		margin: 68px auto 20px auto;
	}
}

.header__content {
	font-size: 20px;
	font-weight: 300;
	line-height: 1.6;
	color: $color-default-white;

	@media (max-width: $viewport--lg) {
		width: 400px;
		margin: auto;
		font-size: 18px;
		line-height: 1.8;
		text-align: center;
	}

	@media (max-width: $viewport--md) {
		width: 288px;
	}
}
