.variety {
	max-width: 1440px;
	margin: auto;
}

/*

$w: 342px;
$s: 15px;

.variety__list {
	display: flex;
	flex-wrap: wrap;
	list-style: none;
	margin: 0;
	padding: 0;
}

.variety__list {
	display: grid;
	grid-template-columns: repeat(auto-fit, $w);
	grid-template-rows: masonry;
	justify-content: center;
	grid-gap: $s;
	padding: $s;

	> * { align-self: start }
}


*/
